@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cntr {
  text-align: -webkit-center;
}


.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.row {
  display: inline-flex;
  margin-left: -50px;
  margin-top: -32px;
  overflow: hidden;
}
.row:nth-child(even) {
  margin-left: 1px;
}
.hexagon {
  position: relative;
  background: #C1C1C2;
  height: 112px;
  width: 100px;
  margin: 1px;
  transition: 2s;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.03);
}
.hexagon:hover {
  transition: 0s;
  background: #f0f;
}



a {
  text-decoration: none;
  color: #000;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#2b292947;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  padding: 1rem 3rem;
  margin-bottom: 35px
}

.card-title {
  font-size: 40px;
  color: #565656;
  align-items: center;
}

.card-subtitle {
  color: #565656;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 1.5rem 0 1rem 0;
}

.card-input-container {
  position: relative;
  margin: 0.5rem 0 2rem;
  width: 100%;
}

.card-form label {
  color: #f7f7f7;
}

.card-input-container input::placeholder {
  color: #b6b6b6;
}

.card-input-container input,
.card-button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.card-input-container input {
  padding: 1em 2em 1em 4em;
  font-size: 14px;
  color: #b6b6b6;
  background: #f4f4f4;

}

.card-input-container input:focus {
  box-shadow: inset -5px -5px 10px rgb(255, 255, 255),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-button {
  background: #565656;
  padding: 1em;
  color: #f4f4f4;
  cursor: pointer;
  box-shadow: -10px -10px 20px rgb(255, 255, 255),
    10px 10px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem;
}

.card-button:focus,
.card-button:hover {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.4),
    inset 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.card-forgot-password {
  text-align: center;
  font-size: 12px;
  color: #b6b6b6;
}

.card-forgot-password a {
  color: #565656;
}
.card-forgot-password a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-input-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 1.3rem;
  top: 0.8rem;
  font-size: 20px;
  color: #b6b6b6;
}

